@model SiteViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
    var recipesParent = Model.SiteContext.Navigation?.Children?
        .FirstOrDefault(x => x.Url?.ToString()?.Contains("/examples/") == true);
    var recipes = recipesParent?.Children?.OrderBy(x => x.Rank).ToList();
    var currentUrl = Model.PageContext.Navigation?.Url;
}
<div class="layout-docs container">
    <aside class="sidebar">
        <div class="sidebar__section">
            <button class="sidebar__heading">Examples</button>
            <div class="sidebar__body">
                <ul class="sidebar__list">
                    @if (recipes != null)
                    {
                        @foreach (var recipe in recipes)
                        {
                            var isActive = currentUrl != null && Vellum.Cli.Domain.Url.AreEquivalent(recipe.Url, currentUrl);
                            <li class="sidebar__item">
                                <a class="sidebar__link @(isActive ? "is-active" : "")" href="@recipe.Url">@recipe.Title</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </aside>
    <main id="main-content" class="layout-docs__main">
        <div class="doc__content">
            <h1>@Model.PageContext.Title</h1>
            @foreach (var contentFragment in Model.PageContext.GetAllMarkdownContent())
            {
                @Html.Raw(contentFragment.Body)
            }
        </div>
    </main>
</div>